.bg {
  position: absolute;
  width: 540px;
  height: 550px;
  left: 500px;
  top: 130px;
  box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
.bg2 {
  position: absolute;
  width: 450px;
  height: 470px;
  left: 550px;
  top: 170px;

  background: #ffffff;
  box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.yd {
  position: absolute;
  width: 247px;
  height: 217px;
  left: 720px;
  top: 232px;
}
.name {
  position: absolute;
  width: 2px;
  height: 46px;
  left: 680px;
  top: 330px;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.in {
  position: absolute;
  width: 2px;
  height: 46px;
  left: 850px;
  top: 330px;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hb {
  position: absolute;
  width: 217px;
  height: 48px;
  left: 660px;
  top: 370px;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;

  color: #26235c;
}
.des {
  position: absolute;
  width: 430px;
  height: 98px;
  left: 557px;
  top: 410px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: center;

  color: #252525;
}
.myButton {
  position: absolute;
  left: 630px;
  top: 500px;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(rgba(59 202 208), #435685);

  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
.myButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.myButton:active {
  position: absolute;
  left: 630px;
  top: 500px;
}
.btn {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #599bb3;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 10px 14px -7px #276873;
  text-shadow: 0px 1px 0px #3d768a;
}

.ig {
  position: absolute;
  width: 48px;
  height: 52.05px;
  left: 608px;
  top: 568px;
  font-family: Font Awesome 5 Brands;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 40px;
  text-align: center;

  color: #5b5887;
}
.ln {
  position: absolute;
  width: 48px;
  height: 52.05px;
  left: 745px;
  top: 565px;
  font-family: Font Awesome 5 Brands;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  color: #5b5887;
}
.gh {
  position: absolute;
  width: 48px;
  height: 52.05px;
  left: 880px;
  top: 565px;

  font-family: Font Awesome 5 Brands;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 40px;
  text-align: center;

  color: #5b5887;
}
.continer {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
}
